<h2>Desenvolvedores</h2>
<div class="card-deck centraliza">
  <div class="card">
    <img
      class="card-img-top"
      src="../../assets/jessica.jpg"
      alt="Jessica Lessa"
    />
    <div class="card-body">
      <p class="card-text">Jessica Lessa Barbosa</p>
      <p class="card-text">Matrícula: 18100421</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/joao.jpeg" alt="João Carlos" />
    <div class="card-body">
      <p class="card-text">João Carlos Marcelino Lima</p>
      <p class="card-text">Matrícula: 18100931</p>
    </div>
  </div>
</div>
